label {
    font-family: 'Roboto', sans-serif;
    color: white;
    
}
body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.conteiner1{
 display: flex;
 margin-top: 50px;
 margin-left:10%;
  margin-right: 10%;
 justify-content: space-evenly
}

.conteiner2{
  display: flex;
  margin-top: 50px;
  margin-left:10%;
  margin-right: 10%;
  justify-content: space-evenly
 }

 .conteiner3{
  display: flex;
  margin-top: 20px;
  margin-left:10%;
  margin-right: 10%;
  justify-content: space-evenly
 }
 .conteiner4{

  display: flex;
  margin-top: 50px;
  justify-content: space-evenly
  
 }
input{
  accent-color: red;
  border-color: #0b30a8;
}


main{
  margin-top: 50px;
}
  

  
  button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #142fa798;
  }
  
  

ul{
color: white;
text-align: center;
}
#data{
  border-color: #0b30a8;
}
#lista{
  border-color: #0b30a8;
color: rgb(12, 11, 11);
text-align: center;
border-radius: 1%;
padding:10px;

}
#add{
  border-color: #0b30a8;
  box-shadow: 0 0.5em 1.5em -0.5em #142aa798;
  right: 1%;
  width: 10%;

}
table{
 background-color: #fcf8f8;
 margin-left:10%;
 margin-right: 10%;
}
th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #a80b0b;
  background-color: rgb(16, 16, 17);
  border: #ad5389;
  
}
tr:hover{
  background-color: coral;
}

img{
  width: 50px;
  right: 50px;
  justify-content: center;
  margin-left: 3%;
  margin-top: 5%;
  
}

.export{
  margin-left:10%;
  margin-right: 10%;
}

