label {
    font-family: 'Roboto', sans-serif;
    color: white;
    
}
body{
    background-color: black;
}
.card__subtitle{
  text-align: center;
}
.card__subtitle{
  color: rgb(235, 238, 231);
  font-family: 'Roboto', sans-serif;
  text-align: center; 
}


ul{
color: white;
text-align: center;
}
li{
color: white;
text-align: center;
}
th{
color: white;
text-align: center;
}
td{
  
color: white;

text-align: center;
}
.totais{
color: greenyellow;
margin-left: 3%;
}
