label {
    font-family: 'Roboto', sans-serif;
    color: white;
    
}
body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.conteiner1{
 display: flex;
 margin-top: 50px;
 margin-left: -20%;
 justify-content: space-evenly
}

.conteiner2{
  display: flex;
  margin-top: 50px;
  margin-left: -20%;
  justify-content: space-evenly
 }

 .conteiner3{
  display: flex;
  margin-top: 50px;
  margin-left: -20%;
  justify-content: space-evenly
 }

input{
  accent-color: red;
}



  

.add {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
  }
  
  

ul{
color: white;
text-align: center;
}
li{
color: white;
text-align: center;
}

table{
 background-color: #fcf8f8;
}
th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #a80b0b;
  background-color: rgb(16, 16, 17);
  border: #ad5389;
  
}
tr:hover{
  background-color: coral;
}

img{
  width: 50px;
  right: 50px;
  justify-content: center;
  margin-left: 3%;
  margin-top: 5%;
  
}

